form {
     width: 500px;
    margin: 0 auto;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

h3{
margin-left: 500px;
padding-bottom: 50px;
padding-top: 50px
}

form-group{

  margin-left: 200px;
  text-align: center;
  padding-right: 500px;
  padding-left: 100px;
}
btn{
  margin-left: 150px;
}